// Colors
$grey: #333444;

// Navigation colors
$nav-background: $grey;
$nav-text-color: #FAFAFC;

// Clock variables
 $clock-text-color: #fafafc;
 $clock-bg-color: #B5D0E2;
 $clock-border-color: #2099E8;
